<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CoreAPIEntities" connectionString="metadata=res://*/CoreAPI.csdl|res://*/CoreAPI.ssdl|res://*/CoreAPI.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTSERVER12\MOBILE;Initial Catalog=Timberscan;User ID=sa;Password=20GDS06!;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>