<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>


  <system.serviceModel>
    <services>
      <service name="Core.API.UserSvc.Users" behaviorConfiguration="Core.API.UserSvc.UsersBehavior">
        <endpoint name="tcpServiceEndPoint" address="" binding="netTcpBinding" contract="Core.API.UserSvc.IUsers">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="ServiceMexEndPoint" binding="mexTcpBinding" name="mex" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9004/CoreAPIUserSvc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Core.API.UserSvc.UsersBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
