<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <appSettings>
    <add key="APILogFlag" value="True"/>
  </appSettings>
  <system.serviceModel>
    
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" openTimeout="01:00:00" receiveTimeout="01:00:00"
          sendTimeout="01:00:00" />
      </netTcpBinding>
      <mexTcpBinding>
        <binding name="NewBinding1" openTimeout="01:00:00" receiveTimeout="01:00:00"
          sendTimeout="01:00:00" />
      </mexTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Core.API.DocumentSvc.DocumentBehavior"
        name="Core.API.DocumentSvc.Document">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding0"
          contract="Core.API.DocumentSvc.IDocument" name="tcpServiceEndPoint">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="NewBinding1"
          contract="IMetadataExchange" name="mexServiceEndpoint" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9008/CoreAPIDocumentSvc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Core.API.DocumentSvc.DocumentBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

